name: Check Build

on: [push, pull_request]
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    env:
      RUSTFLAGS: -D warnings
      RUSTDOCFLAGS: -D warnings
    steps:
    - uses: actions/checkout@v4
    - name: Install XCB and GL dependencies
      if: contains(matrix.os, 'ubuntu')
      run: |
        sudo apt-get update
        sudo apt-get install -y libx11-dev libxcursor-dev libxrandr-dev libgl1-mesa-dev
    - name: Install rust nightly
      uses: dtolnay/rust-toolchain@nightly
      with:
        toolchain: nightly
        components: rustfmt, clippy
    - name: Build
      run: cargo build --workspace --all-targets --all-features
    - name: Run Tests
      run: cargo test --workspace --all-targets --all-features
    - name: Check Docs
      run: cargo doc --examples --all-features --no-deps
    - name: Clippy
      run: cargo clippy --workspace --all-targets --all-features -- -D warnings
    - name: Check Formatting
      run: cargo fmt --all -- --check
